<div id='message-actions'>
  <%= form_with(model: message, id: 'message-form') do |form| %>
    <div class='input-container'>
      <%= form.text_field :content, class: 'full-width'%>
      <%= form.hidden_field :room_id %>
      <%= form.hidden_field :user_id %>
      <%= form.submit 'Send',class: 'send-button' %>
    </div>
  <% end %>
</div>