<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

<div id='chatapp'>
  <div id='rooms'>
    <%= button_to session_path, method: :delete, class: 'logout' do %>
        <i class="fa-solid fa-right-from-bracket"></i> Logout
    <% end %>
    <div id='room-list'>
      <%= turbo_stream_from @room.name %>
      <% @rooms.each do |room| %>
        <%= render room %>
      <% end %>
    </div>
    <%= render partial: 'form', locals: {room: Room.new(name: "Room #{Room.count + 1}")} %>
  </div>
  <div id='messages'>
    <%= turbo_frame_tag 'room-messages' do %>
      <div id='message-list'>
        <% @messages.each do |message| %>
        <%= render message %>
        <% end %>
      </div>
      <%= render partial: 'messages/form', locals: {message: Message.new(room: @room)} %>

      <%= turbo_stream_from @room %>
    <% end %>
  </div>
</div>
